//
//  Created by Hacktoolkit (@hacktoolkit) and Jonathan Tsai (@jontsai)
//  Copyright (c) 2014 Hacktoolkit. All rights reserved.
//

PARSE_APPLICATION_ID = yourParseApplicationId
PARSE_CLIENT_KEY = yourParseClientKey
